/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*

# Frontend build artifacts
frontend/dist
frontend/dist-ssr
frontend/node_modules
frontend/*.local

# CDK build artifacts
infra/node_modules
infra/cdk.out
infra/*.js
infra/*.d.ts
infra/bin/*.js
infra/bin/*.d.ts
infra/lib/*.js
infra/lib/*.d.ts
infra/test/*.js
infra/test/*.d.ts